extends layout
block content
    .row
        .col-md-4
            .card
                .card-header
                    h3 Éditer la tâche
                .card-body
                    form(method="POST",action="/editer/" + todo.id + "?_method=PUT")
                        .form-group
                            label(for='todo') Éditer la tâche:
                            input.form-control#todo(type='text', placeholder='Éditer une tâche',name='newtitre',value=todo.titre)
                        button(type="submit",value="Ajouter").btn.btn-primary.btn-block
                            | Éditer
                            i.fas.fa-plus.pl-1