extends layout
block content
    .row
        .col-md-4
            .card
                .card-header
                    h3 Ajouter une tâche
                .card-body
                    form(action="/ajouter", method="POST")
                        .form-group
                            label(for='todo') Ajouter une tâche:
                            input.form-control#todo(type='text', placeholder='Ajouter une tâche',name='titre')
                        button(type="submit",value="Ajouter").btn.btn-primary.btn-block
                            | Ajouter
                            i.fas.fa-plus.pl-1
        .col-md-8
            table.table.table-striped
                thead
                    tr
                        th(scope='col') ID
                        th(scope='col') Nom tâche
                        th(scope='col') Éditer
                        th(scope='col') Supprimer
                tbody
                    each todo in todos
                        tr
                            th(scope='row')= todo.id
                            td= todo.titre
                            td
                                a(href="/editer/" + todo.id).btn.btn-info.btn-sm
                                 i.fas.fa-edit

                            td
                                form(method="POST",action="/supprimer/" + todo.id + "?_method=DELETE")
                                    button(type='submit').btn.btn-danger.btn-sm
                                        i.fas.fa-trash-alt

